# The .gitignore will ignore any file that is discribed here is the docs https://git-scm.com/docs/gitignore
# After you edit this file you will run:
# git reset .
# git add .
# git status
# these commands will show what files you will add to the next commit (helpful for seeing if your gitignore sintax is correct)
# if you have a file that you have accidentally tracked and want to remove it form the git repo after ignoreing it you run
# git rm -rf --cached .
# git add .
# if you do this your next commit will have the file gone
# Files to be ignored -------------------------
# Please add to this if you find it needed 


# Will ignore files in anysubdir called Personal...
**/Personal*

#for MPlabX this *should* save us some git headaches
#**/.generated_files
# MP lab x is a dumdum
#/*.X
# will ignore the .dist file that VScode sometimes makes when opening files
/.dist
/.vscode
# add new ignore file/paths here